body {
  background: #e8e8e8;
  
}

.container{
  display: flex;
}
.about-us{
  max-width: 600px;
}
.about-us-text{
  max-width: 600px;
}

.event img {
  height: 430;
  width: 240;
}

.about--us-title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: #111;
  text-transform: uppercase;
}

.contact p {
  margin: 0 0 10px;
  padding-bottom: 21px;
}

.about--us-sidebar {
  background-image: url(/img/img-map.jpg);
  margin-left: 350px;
  /* max-width: 270px; */
  max-height: 850px;
  margin-top: 40px;
}
.about--us-sidebar ul{
  list-style: none;
}
.item--cinema {
  display: block;
  position: relative;
  text-decoration: none;
  background: #89c441;
  color: #e8e8e8;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  padding: 15px 0 15px 45px;
  border-radius: 5px;
}

.list-cinema li a{
  margin: 20px 30px 10px 0;
   
}
.button--share{
  color: #fff;
  text-decoration: none;
  background-color: #3B5998;
  font-size: 14px;
  display: inline-block;
  line-height: 33px;
  width: 105px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
}
.button--share a{
  color: #fff;
  text-decoration: none;
}
.ti-tag{
  font-size: 30px;
  color: #89c441 ;
}
.icon-service{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 100px 0;
}
.content--title,
.date,
.text--content{
  margin-left: 70px;
}
.content--title{
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700 ;
}
.date{
  font-size: 16px;
  color: #5f6f88;
  font-weight: 500;
}
.text--content p{
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-img{
  margin-left: 60px;
}
@media(max-width: 740px){
  .icons-list{
    display: none;
  }
  .container{
      display: block;
  }
  .about-img{
    width: 300px;
    height: 245px;
  }
  .about--us-sidebar {
    background-image: url(/img/img-map.jpg);
    width: 350px;
    height: 850px;
    margin-top: 40px;
    margin-left: 0px;
  }
  .bhd-cineplex{
    display: none;
  }
  .icon-service {
    flex-direction: column;
    margin-left: 85px;
  }
  .about--us-content {
    margin-left: -75px;
  }
}