* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.buy-tickets-btn {
  color: #fff;
  text-decoration: none;
}
.header{
  background-color: #111111!important;
}
.dropdown {

  position: relative;
  background: #111;
  justify-content: space-around !important;
}

.ti-close,
.ti-menu {
  color: #b2d134;
  background-color: #262626;
  font-size: 30px;
  border: none;
}

.ti-close p,
.ti-menu p {
  color: #fff;
  font-size: 14px !important;
  font-weight: 500;
}

.ti-close:hover,
.ti-menu:hover {
  color: #b2d134;
  background-color: #262626;
}

.ti-close {
  display: none;
}

.ti-menu.close {
  display: none !important;
}

.ti-close.open {
  display: inline-block !important;
}

.img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* box-sizing: border-box; */
  /* margin-top: -45px; */

}

.logo {
  margin-top: -45px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* .carousel-inner{
  margin-top: 45px;
  background-color: #111;
} */

.icons {
  margin-right: 0;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  /* font-size: 40px; */

}

.icons-list {
  display: flex;
  font-size: 30px;
  float: left;
  margin: 30px 15px 0 0;


}

.bhd-about {
  /* color: #fff; */
  margin-left: 115px;
}

.bhd-rules ul li,
.bhd-about ul li {
  list-style: none;

}

/* .bhd-about ul li a{
  color: #c3cc26;
  text-decoration: none;
  
}
.bhd-rules ul li a{
  color: #c3cc26;
  text-decoration: none;
} */
.list-group-flush li a {
  color: #c3cc26;
  text-decoration: none;
  background-image: url(/img/bg-grid.jpg);
}

.list-group-flush li h3 {
  color: #fff;
  font-size: 16px;
}

.list-group-flush li h3::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0px;
  width: 37px;
  height: 3px;
  background: #c3cc26;
}

.list-group-item {
  background-image: url(/img/bg-grid.jpg);
  margin-left: 115px;
  font-size: 14px;
}

.bhd-cineplex {
  color: #fff;
  font-size: 12px;
}

.footer {
  display: flex;
  background-image: url(/img/bg-grid.jpg);
  background-clip: border-box;
}

.bhd-cineplex {
  margin-top: 330px;
  display: block;
  border-top: 2px solid #343434;
  padding: 26px 0px 26px 0px;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}

.buy {
  text-decoration: none !important;
  width: 150px !important;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-size: 100% 100% !important;
  background-image: url(/img/bhds_nutv2.png) !important;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.login {
  text-decoration: none !important;
  width: 150px !important;
  height: 43px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-size: 100% 100% !important;
  background-image: url(/img/bhds_nutv2.png) !important;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.login p {
  margin-top: -20px;
}

.buy {
  margin: 30px 0 0 20px;

}

.btn-secondary {
  margin-left: 30px;
}

.login {
  margin: 30px 30px 0 0;
}

.login :hover,
.buy :hover {
  color: green;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.login-form {
  display: none;
  background: #121825;
  position: absolute;
  right: 0;
  z-index: 90;
  top: 100%;
  width: 315px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.login-input {
  width: 100%;
  margin-bottom: 12px;
  border: 5px solid #273245;
  border-radius: 4px;
  background-color: #273245;
  font-size: 13px;
}

.pass-forgot {
  margin-top: 13px;
  color: #646e72;
}

.login-submit {
  padding: 8px 15px;
  background-color: #42af33;
  color: #fff;
  border: 5px solid #42af33;
  border-radius: 4px;
}

.login-input:hover {
  /* background-color: #273245; */
}

.login-form .li-3 {
  display: flex;
  height: 46px;
  font-size: 15px;
  justify-content: space-between;
}
.login-register{
margin-top: 10px;
background-color: #42af33;
color: #fff;
border: 5px solid #42af33;
border-radius: 4px;
text-align: center;
/* padding: 10px 5px; */
font-size: 12px;
line-height: 17px;
font-weight: bold;
}
.login-register:hover{
  background-color: #c8cd34;
  border: 5px solid #c8cd34;
  color: #fff;
}
.pass-forgot:hover{
  color: #c8cd34;
}
.flim-movie,
.buy-tickets-container .upcoming-movie{
  color: #b2d134 !important ;
}
.film-list .the-black-phone{
  margin-left: 500px;
}
@media(max-width: 740px){
  .footer{
    display: block;
    padding: 0;
  }
   
  .ti-menu{
    margin-left: 0px;
  }
  .buy{
    margin: 30px 0 0 0;
  }
  .btn-secondary{
    margin-right: 0px;
     
  }
  .list-group{
    margin-left: -100px;
  }
  .card-group{
    display: block;
    margin-left: 65px !important;
    margin-right: 0px !important;
  }
  .title .a1{
    color: #fff;
  }
  .card1{
    height: 137px !important;
  }
  .film{
    display: block !important;
  }
   
}
